.footer {
    background-color: var(--main-white);
    display: grid;
    column-gap: 50px;
    grid-template-columns: 290px auto;
    padding-top: 15px;
    padding-bottom: 15px;

    width: 100%;

}
.footer-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer>.container {
    grid-column: 2/3;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 30px;
    max-width: none;
}
.footer__controls {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.footer__link {
    justify-self: flex-end;
    display: block;
}
.docs-link {
    color: var(--main-ornge);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 24px;
    text-decoration: underline;
}
.docs-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url(../../assets/image/icons/docs-icon.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 19px;
}
.footer__info {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin: 0 auto;
}
.footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #A5A5A5;
}