.nav-list {
    display: flex;
    flex-direction: column;
}
.nav-list__item {
    border-bottom: 1px solid var(--main-gray);
}
.nav-list__item_active {
    background-color: var(--accent-color);
}

.nav-list__item:last-child {
    border-bottom: none;
}
.nav-list__link {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    column-gap: 16px;
}
.item-link__text {
    line-height: 22px;
    font-weight: 400;
    font-family: FuturaPt, sans-serif;
    color: var(--accent-color);
}
.nav-list__item_active>a>.item-link__text {
    color: var(--main-white);
}
.nav-list__item_active>a>.icon {
    color: var(--main-white);
}
