.side-block {
    background-color: var(--main-white);
    max-width: 290px;
    width: 290px;
    height: max-content;
}
.side-block__btn {
    font-size: 17px;
    line-height: 22px;
    color: var(--main-ornge);
    border-top: 1px solid var(--main-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    position: relative;
    width: 100%;
}
.side-block__btn::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background-position: center;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    background-image: url(../../assets/image/icons/arrow-icon.svg);
    background-repeat: no-repeat;
}